.productdisplay{
    display: flex;
    margin: 0px 50px;
}

.display-left{
    display: flex;
    gap: 17px;
}

.display-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.display-img-list img{
    height: 130px;
}

.display-main-img{
    width: 500px;
    height: 600px;
}

.display-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}

.display-right h1{
    color: #3d3d3d;
    font-size: 35px;
    font-weight: 700;
}

.dispaly-right-star{
    display: flex;
    align-items: center;
    margin-top: 5px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}

.display-right-prices{
    display: flex;
    margin: 20px 0px;
    gap: 30px;
    font-size: 20px;
    font-weight: 700;
}

.display-right-price-old{
    color: #818181;
    text-decoration: line-through;
}

.display-right-price-new{
    color: #ff4141;
}

.display-right-size h1{
    margin-top: 20px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}

.display-right-sizes{
    display: flex;
    margin: 10px 0px;
    gap: 10px;
}

.display-right-sizes div{
    padding: 15px 20px;
    background-color: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    width: 20px;
    cursor: pointer;
}

.display-right-sizes2 button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #FF4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}

.display-right-category{
    margin-top: 10px;
}

.display-right-category span{
    font-weight: 600;
}